*Aprendizaje No Supervisado

Integrantes:
    Galan, Sebastian
    Marzioni, Emiliano
    Mancuso, Fernando

Obtenemos el dataset

In [2]:
import pandas as pd
import zipfile

with zipfile.ZipFile('ml-latest-small.zip', 'r') as zip_ref:
    zip_ref.extractall('./')

movies = pd.read_csv('ml-latest-small/movies.csv')

NameError: name 'moves' is not defined

In [5]:
movies.describe()

             movieId
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000